<h1>New Task</h1>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.label :task_name %>
  <%= form.text_field :task_name %>
  <%= form.label :due_date %>
  <%= form.date_field :due_date %>
  <%= form.label :project %>
  <%= form.text_field :project %>
  <%= form.submit %>
<% end %>

<p><%= link_to "Cancel", tasks_path %></p>
