<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<h1><%= @task.task_name %></h1>

<% if @task.subtasks.any? %>
  <h3>Subtasks:</h3>
  <ul>
    <% @task.subtasks.each do |subtask| %>
      <li><%= subtask.subtask_name %></li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "Edit", edit_task_path(@task) %></p>
<p><%= link_to "Delete", @task, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to "New Subtask", new_task_subtask_path(@task) %></p>
<p><%= link_to "All Tasks", tasks_path %></p>
